
	

body {
    font-size: 12pt;
    color: #333333;
    font-family: Georgia, "Times New Roman", Times, serif;
}

#bgimg {
display: none;
}

#h1 {
    font-size: 14pt;
    color: #333333;
}

h1 {
    font-size: 14pt;
    color: #333333;
}

p{
			color: 333333; 
			font-size: 12pt; 
			
		}
		
img {
    display: none;
}		

a { text-decoration: none; }